.wrapperInsurance {
    width: 100%;
}

.insurance {
    max-width: 1220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 5% 0;

}

.insurance .insuranceOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;

}

.insurance .insuranceOne h1 {
    color: var(--mint-dark, #17BEBB);
    font: 600 40px Poppins;
}

.element-animation {
    margin: 2rem 0;
    font-size: 3rem;
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.insurance .insuranceOne .info {
    display: flex;
    justify-content: space-between;


}

.insurance .insuranceOne .profit {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.insurance .insuranceOne .profit .imgProfit {
    background-image: url(../assets/Icon_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
    height: 180px;
    margin: auto;
}

.insurance .insuranceOne .portfolios {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.insurance .insuranceOne .portfolios .imgPortfolios {
    background-image: url(../assets/Icon_1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
    height: 180px;
    margin: auto;
}


.insurance .insuranceOne p {
    color: #95A7B8;
    font: 400 18px Poppins;
}

.insurance .insuranceTwo {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insurance .insuranceTwo h1 {
    color: var(--mint-dark, #17BEBB);
    font: 600 40px Poppins;
    margin-top: 59px;
}

.insurance .option {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.insurance .option .img {
    background-image: url(../assets/financial-insurance\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 357px;
    height: 357px;
}

.insurance .option .infOne {
    border-radius: 16px;
    background: var(--blue, #94D8FF);
    padding: 16px 24px 24px 24px;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
    width: 360px;
    height: 160px;
}

.insurance .option .infOne .img {
    background-image: url(../assets/Frame\ 337-02.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 56px;
    height: 56px;

}

.insurance .option .infOne p {
    color: var(--text-primary, #202030);
    font: 400 18px Poppins;
}

.insurance .option .infTwo {
    border-radius: 16px;
    background: var(--mint-gray, #9EEDE9);
    padding: 16px 24px 24px 24px;
    flex-direction: column;
    gap: 10px;
    width: 360px;
    height: 160px;
}

.insurance .option .infTwo .img {
    background-image: url(../assets/Frame\ 361.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 56px;
    height: 56px;
}

.insurance .option .infTwo p {
    color: var(--text-primary, #202030);
    font: 400 18px Poppins;
}

@media screen and (max-width: 1020px) {

    .insurance {
        padding: 5%;
        margin: auto;
    }
}

@media screen and (max-width: 770px) {
    .insurance {
        padding: 5%;
        margin: auto;
    }

    .insurance .option .infOne {
        width: 236px;
        height: 187px;
        margin-right: 0px;
    }

    .insurance .option .infTwo {
        width: 236px;
        height: 187px;
    }

}

@media screen and (max-width: 480px) {
    .insurance {
        padding: 5%;
        margin: auto;
    }

    .insurance .insuranceOne {
        display: flex;
        flex-direction: column;
    }

    .insurance .option {
        display: flex;
        flex-direction: column;
    }

    .insurance .option .infOne {
        width: 448px;
        height: 130px;
        margin-right: 0px;
        margin-top: 21px;
    }

    .insurance .option .infTwo {
        width: 448px;
        height: 130px;
        margin-top: 16px;
    }

    .insurance .option .img {
        background-image: none;
        width: 0px;
        height: 0px;
    }
}

@media screen and (max-width: 320px) {
    .insurance {
        padding: 5%;
        margin: auto;
    }

    .insurance h1 {
        font-size: 25px
    }

}