.wrapperHeader {
    max-width: 1220px;
    margin: auto;
    padding: 2%;
}

.header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logoImg {
    background-image: url(../assets/Logo\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 141px;
    height: 96px;
}

.header .nav {
    display: flex;
    gap: 90px;
}

.header .nav a {
    color: #000;
    font: 400 18px Poppins;
}

#sidebar{
    display: none;
}




@media screen and (max-width: 990px) {

    .header .nav:not(:first-child) {
        display: none;
    }

    #sidebar {
        position: fixed;
        width: 250px;
        background: #57626F;
        border-right: 4px solid #E0E5EA;
        border-radius: 10px;
        right: -260px;
        top: 10px;
        padding-bottom: 10px;
    
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        transition: all 600ms;
        display: flex;
    }
    
    #sidebar ul li:first-child {
        text-align: center;
        color: white;
        font-size: 1.95em;
        list-style: none;
        padding: 25px 10px 10px 10px;
    }
    
    #sidebar ul li:not(:first-child) {
        width: 90%;
        margin-left: 10%;
        font-size: 1.1em;
        list-style: none;
        padding: 15px 10px;
    }
    
    #sidebar ul li a {
        color: #E0E5EA;
        text-decoration: none;
    }
    
    #sidebar ul li a:hover {
        color: #84b6e4;
    
    }
    
    #sidebar .toggle-btn {
        position: absolute;
        right: 300px;
        top: 20px;
        background: #E0E5EA;
        padding: 10px;
        border-radius: 12px;
        cursor: pointer;
    }
    #sidebar .toggle-btn:hover {
        background: #556270;
    }
    #sidebar .toggle-btn:hover span {
        background: #fafafa;
    }
    
    #sidebar .toggle-btn span {
        display: block;
        width: 25px;
        height: 4px;
        background-color: #666;
        margin: 4px 0;
    }
    

    
    
}

@media screen and (max-width: 480px) {

    .header .logoImg {

        width: 58px;
        height: 40px;
    }


}